/*********************** About ***********************/

.about .about-info {
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
    width:100%;
    margin-bottom: 7em;
  }
  
  .about .about-info .image {
    flex: 1 1 40rem;
    height:50em;
  }
  
  .about .about-info .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .about .about-info .content {
    flex: 1 1 40rem;
  }
  
  .about .about-info .content h3 {
    color: var(--black);
    font-size: 4rem;
    padding: 0.5rem 0;
  }
  
  .about .about-info .content p {
    color: var(--black);
    font-size: 1.5rem;
    padding: 0.5rem 0;
    line-height: 2;
  }
  
  .about .about-info .content .icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: 0.5rem;
  }
  
  .about .about-info .content .icons-container .icons {
    background: #eee;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
  }
  
  .about .about-info .content .icons-container .icons i {
    font-size: 2.5rem;
    color: var(--pink);
  }
  
  .about .about-info .content .icons-container .icons span {
    font-size: 1.5rem;
    color: var(--black);
  }


  /***************** customers ******************/

 #gallery{
   margin-bottom: 7em;
   

 }

 .customer-table-img-slider {
  position: relative;
  height: 450px;
  background: #f8f8f8;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.customer-table-img {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease;
  opacity: 0.7;
  transform: scale(0.9);
  object-fit: cover;
  object-position: center;
}

.swiper-slide-active .customer-table-img {
  opacity: 1;
  transform: scale(1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Navigation Buttons */
.about .swiper-button-next,
.about .swiper-button-prev {
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  color: var(--pink);
  transition: all 0.3s ease;
}

.about .swiper-button-next:after,
.about .swiper-button-prev:after {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.about .swiper-button-next:hover,
.about .swiper-button-prev:hover {
  background: var(--pink);
  color: #ffffff;
  transform: translateY(-2px);
}

/* Pagination */
.about .swiper-pagination {
  position: relative;
  bottom: -10px;
  background: transparent;
  box-shadow: none;
}

.about .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #dddddd;
  opacity: 1;
  transition: all 0.3s ease;
}

.about .swiper-pagination-bullet-active {
  width: 30px;
  background: var(--pink);
  border-radius: 5px;
}

/* New */


/***************** Team ******************/

.team-slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 3em;
  height:420px;
}

.team-box {
  height: 380px;
  padding: 1.5em;
  border-radius: 30px;
  background: linear-gradient(145deg, #ececec, #ffffff);

  transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

.team-img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 9px 9px 18px rgb(194 194 194 /0.5), -9px -9px 18px rgb(255 255 255 / 0.5);
  background-position: center;
  background-size: cover;
}

.team-box .h3-title {
  text-transform: capitalize;
  color: #0d0d25;
  font-weight: 600;
}

.team-slider .social-icon {
  margin: 15px 0px 10px;
}

.team-slider .social-icon ul li {
  display: inline-block;
  margin: 0 6px;
}

.team-slider .social-icon ul li:last-child {
  margin-right: 0;
}

.team-slider .social-icon ul li:first-child {
  margin-left: 0;
}

.team-slider .social-icon ul li a {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 4px 4px 8px #d0d0d0, -4px -4px 8px #ffffff;
  color: #0d0d25;
  font-size: 2rem;
}

.team-slider .social-icon ul li a:hover {
  background: #ff8243;
}

.team-slider .social-icon ul li a:hover i {
  color: #ffffff !important;
}  

@media (max-width: 510px) {
  .team-slider {
    height:290px;
  }

  .team-box {
    height: 260px;
  }

  .team-img {
    height: 130px;
  }

  .team-slider .social-icon .fa-facebook-f,
  .team-slider .social-icon .fa-instagram
  {
    font-size: 2rem;
  }

  .team-slider .social-icon ul li a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .customer-table-img-slider{
    height:290px;
   }
  
  .customer-table-img {
    height: 250px;
  }
  
  



}

@media (max-width: 400px) {

  .team-slider {
    height:260px;
  }


  .team-box {
    height:230px;
  }

  .team-img {
    height: 100px;
  }

  .team-slider .social-icon ul li a {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .customer-table-img-slider{
    height:280px;
   }


}